.jumbotron {
  padding: 0;
  background-color: red;
  border-radius: 0.3rem;
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 5em;
  font-weight: 900;
}
